// begin my content

.move_next_right {
    margin-right: 10px;
}

#id_name, #id_owner, #id_phone, #id_email, #id_address {
    width: 100%;
}
#stretch {
    height: 75%;
}
#cnx_policy, #sel_pol, #veh_sel_div {
    margin-top: 20px;
}
.detail_div {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}
.details_info {
    font-size: 14px;
    white-space: pre;
}